body {
  margin: 0;
  font-family: "Segoe UI", sans-serif;
  background: #0d1b3a;
  color: white;
}

/* MAIN CONTENT */
.main-content {
  max-width: 1200px;
  padding: 20px;
  margin-left: 21%;
  transition: 0.3s;
}

.main-content.expanded {
  margin-left: 20%;
}

.page-title {
  text-align: center;
  font-size: 2rem;
  margin-bottom: 25px;
  background: linear-gradient(90deg, #ff1cf7, #00f0ff);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

/* LAYOUT */
.layout {
  display: flex;
  min-height: 100vh;
  width: 100%;
  padding: 0 20px;
  box-sizing: border-box;
  gap: 20px;
}

.page-wrapper {
  width: 100%;
  margin: 0 auto;
  padding: 0 20px;
  box-sizing: border-box;
}
